{% extends 'base.html' %}
{% load bootstrap3 %}
{% block conteudo %}
<div class="login">
    <div class="login_wrapper">
         <div class="animate form login_form">
            <section class="login_content">
                <form novalidate method="POST">{% csrf_token %}
                    <h1>BescheLab</h1>
                    {% bootstrap_form_errors form type='non_fields' %}
                    {% for field in form %}
                    {% bootstrap_field field show_label=false %}
                    {% endfor %}
                    <button type="submit" class="btn btn-default" href="index.html">Entrar</button>
                </form>
            </section>
            <p class="text-center">
                Desenvolvido por 
                <a href="http://www.besche.com.br" target="_blank"><b>Besche Tecnologia</b></a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
