{% extends 'layout-config.html' %}
{% load bootstrap3 %}
{% block conteudo %}
<div class="page-title">
    <div class="title_left">
        <h3>Ponto coleta</h3>
    </div>

</div>
<div class="clearfix"></div>

<div class="x_panel">
    <div class="x_title">
        <h2>{% if object %}Editar
            <small>
                Veja detalhes e/ou altere informações de um Ponto de Coleta.    
            </small>
            {% else %}Cadastrar
            <small>
                Adicione um novo Ponto de Coleta.
            </small>
            {% endif %}
        </h2>
        <div class="clearfix"></div>
    </div>
 
    <div class="x_content">
        <form novalidate class="form-horizontal form-label-left" method="POST">{% csrf_token %}
            {% bootstrap_form_errors form type='non_fields' %}
            {% bootstrap_field form.nome layout='horizontal' field_class='col-xs-12 col-sm-10 col-md-10' label_class='col-xs-12 col-sm-2 col-md-2' %}
            <div class="divider-dashed"></div>
            
            <div class="form-group">
                {% bootstrap_field form.logradouro field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
                {% bootstrap_field form.numero field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
            </div>
            
            <div class="form-group">
                {% bootstrap_field form.complemento field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
                {% bootstrap_field form.bairro field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
            </div>
            
            <div class="form-group">
                {% bootstrap_field form.municipio field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
            </div>
            
            <div class="ln_solid"></div>
            
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    {% if object %}
                    <div class="pull-right">
                        <button type="button" data-href="{% url 'pontos_coleta:apagar' object.pk %}" id="delete-link" class="btn btn-danger btn-sm">Excluir</button>
                    </div>
                    {% endif %}
                    <a href="{% url 'pontos_coleta:listar' %}" class="btn btn-primary btn-sm">Voltar</a>
                    <button type="submit" class="btn btn-success btn-sm">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extrascript %}
{% if object %}
{% with dialog_message='Deseja realmente excluir este ponto de coleta?' %}
{% include 'delete_dialog.html' %}
{% endwith %}
{% endif %}
{% endblock %}
