{% extends 'layout-config.html' %}
{% block conteudo %}
<div class="page-title">
	<div class="title_left">
		<h3>Ponto de Coleta</h3>
	</div>
</div>

<div class="clearfix"></div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Lista 
					<small>
						Lista com todos os Pontos de Coleta. Clique numa linha para ver detalhes ou editar as 	informações.
					</small>
				</h2>
				<div class="clearfix"></div>
			</div>
			
			<div class="x_content">
				<br>
				<table id="datatable" class="table table-striped">
					<thead>
						<tr>
							<th>Nome</th>
						</tr>
					</thead>
					<tbody class="rowlink" data-link="row">
						{% for ponto in pontos %}
						<tr>
							<td><a href="{% url 'pontos_coleta:editar' ponto.pk %}">{{ ponto.nome }}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
