{% extends 'layout-config.html' %}
{% load bootstrap3 %}
{% block conteudo %}
<div class="page-title">
    <div class="title_left">
        <h3>Usuário</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="x_panel">
    <div class="x_title">
        <h2>{% if object %}Editar
            <small>
                Veja detalhes e/ou altere informações de um Usuário.    
            </small>
            {% else %}Cadastrar
            <small>
                Adicione um novo Usuário.
            </small>
            {% endif %}
        </h2>
        <div class="clearfix"></div>
    </div>
    
    <div class="x_content">
        <br>
        <form novalidate class="form-horizontal form-label-left" method="POST">{% csrf_token %}
            {% bootstrap_form_errors form type='non_fields' %}
            {% for field in form %}
            {% bootstrap_field field layout='horizontal' field_class='col-xs-12 col-sm-10 col-md-10' label_class='col-xs-12 col-sm-2 col-md-2' %}
            {% endfor %}
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
                    {% if object and perms.pessoa.delete_usuario and form.instance.pk %}
                    <div class="pull-right">
                        <button type="button" data-href="{% url 'usuario_apagar' object.pk %}" id="delete-link" class="btn btn-danger btn-sm">Excluir</button>
                    </div>
                    {% endif %}
                    {% if not form.instance.pk and object.pk %}
                    <a href="{% url 'usuario_editar' object.pk %}">
                        <div class="btn btn-primary btn-sm">Voltar</div>
                    </a>
                    {% else %}
                    <a href="{% url 'usuario_listar' %}">
                        <div class="btn btn-primary btn-sm">Voltar</div>
                    </a>
                    {% endif %}
                    <button type="submit" class="btn btn-success btn-sm">Salvar</button>
                    {% if form.instance.pk %}
                    <a href="{% url 'usuario_definir_senha' form.instance.pk %}">
                        <div class="btn btn-warning btn-sm">Definir senha</div>
                    </a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extrascript %}
{% if object %}
{% with dialog_message='Deseja realmente excluir este usuário?' %}
{% include 'delete_dialog.html' %}
{% endwith %}
{% endif %}
{% endblock %}
