{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Besche Lab</title>

        <!-- JQuery -->
        <script src="{% static 'vendors/js/jquery.min.js' %}"></script>
        <!-- pace -->
        <script src="{% static 'vendors/js/pace/pace.min.js' %}"></script>
        <!-- Bootstrap -->
        <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
        <!-- bootstrap-progressbar -->
        <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/switchery/dist/switchery.css' %}" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="{% static 'build/css/custom.min.css' %}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
        <!-- Switchery -->
        <link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
        <!-- Tabela Responsiva -->
        <link href="{% static 'vendors/js/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'vendors/js/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'vendors/js/datatables/fixedHeader.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'vendors/js/datatables/responsive.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'vendors/js/datatables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        {{ form.media.css }}
        {% block extrahead %}{% endblock %}
    </head>

    <body style="background:#F7F7F7;">
        {% block conteudo %}{% endblock %}
        <!-- Bootstrap -->
        <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
        <!-- NProgress -->
        <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
        <!-- bootstrap-progressbar -->
        <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
        <!-- iCheck -->
        <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
        <script src="{% static 'vendors/jquery.hotkeys/jquery.hotkeys.js' %}"></script>
        <script src="{% static 'vendors/google-code-prettify/src/prettify.js' %}"></script>
        <!-- Switchery -->
        <script src="{% static 'vendors/switchery/dist/switchery.min.js' %}"></script>
        <!-- Autosize -->
        <script src="{% static 'vendors/autosize/dist/autosize.min.js' %}"></script>

        <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
        <!-- Custom Theme Scripts -->
        <script src="{% static 'build/js/custom.min.js' %}"></script>

        <!-- Autosize -->
        <script>
          $(document).ready(function() {
            autosize($('.resizable_textarea'));
          });
        </script>
        <!-- /Autosize -->
{{ form.media.js }}
{% block extrascript %}{% endblock %}
    </body>
</html>
