<div class="modal fade" id="confirm-dialog" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirmar</h4>
            </div>
            <div class="modal-body" id="confirm-dialog-message">
                {{ dialog_message }}
            </div>
            <div class="modal-footer">
        	    <button type="button" id="confirm-dialog-no" class="btn btn-primary btn-sm" data-dismiss="modal">Não</button>
        	    <button type="submit" id="confirm-dialog-yes" class="btn btn-success btn-sm">Sim</button>
            </div>
        </div>
    </div>
</div>
