{% extends 'layout-config.html' %}
{% block conteudo %}
<div class="page-title">
	<div class="title_left">
		<h3>Configurações</h3>
	</div>
</div>

<div class="clearfix"></div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Lista 
					<small>
						Configurações.
					</small>
				</h2>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<br>
			</div>
		</div>
	</div>
</div>
{% endblock%}
