<div class="modal fade" id="deletedlg" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
          
                <h4 class="modal-title">{{ dialog_message }}</h4>
            </div>
      
            <div class="modal-body">
                Esta operação não pode ser desfeita e em alguns casos ocasiona exclusão de outras informações.
            </div>
      
            <div class="modal-footer">
                <form action="" method="POST">{% csrf_token %}
            	    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Não</button>
            	    <button type="submit" class="btn btn-success btn-sm">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$(function() {
    $("#delete-link").click(function(e) {
        href = $(this).data("href")
        $("#deletedlg form").attr("action", href)
        $("#deletedlg").modal()
    })
})
</script>