{% extends 'layout-base.html' %}
{% block sidebar_menu %}
<!-- menu section -->
<div class="menu_section">
    <h3>Geral</h3>
    <ul class="nav side-menu">
        <li>
            <a href="{% url 'index' %}"><i class="fa fa-home fa-lg"></i> Início </a>
        </li>
        {% if perms.laboratorio.change_examemarcado %}
        <li>
            <a><i class="fa fa-eyedropper fa-lg"></i> Coleta <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'exame_marcado_adicionar' %}">Marcar</a></li>
                <!--li><a href="{% url 'exame_marcado_listar' %}">Resultado</a></li-->
            </ul>
        </li>
        {% endif %}
        {% if perms.pessoa.change_paciente %}
        <li>
            <a><i class="fa fa-male fa-lg"></i> Pessoa <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'pessoa_adicionar' %}">Adicionar</a></li>
                <li><a href="{% url 'pessoa_listar' %}">Lista</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
</div>
<!-- /menu section -->
{% if perms.financeiro.add_lancamento %}
<div class="menu_section">
    <h3>Financeiro</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-level-up fa-lg"></i> Receita <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'lancamento_adicionar' 1 %}">Adicionar</a></li>
                <li><a href="{% url 'lancamento_listar' 1 %}">Pendente</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-level-down fa-lg"></i> Despesa <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'lancamento_adicionar' 2 %}">Adicionar</a></li>
                <li><a href="{% url 'lancamento_listar' 2 %}">Pendente</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endif %}
{% if perms.financeiro.relatorio_lancamento or perms.financeiro.relatorio_movimento %}
<div class="menu_section">
    <h3>Relatórios</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-money fa-lg"></i> Financeiro <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
{% if perms.financeiro.relatorio_movimento %}
                <li><a href="{% url 'movimento_relatorio' %}">Fluxo de Caixa</a></li>
{% endif %}
{% if perms.financeiro.relatorio_lancamento %}
                <li><a href="{% url 'lancamento_relatorio' %}">Lançamento</a></li>
{% endif %}
            </ul>
        </li>
{% if perms.pessoa.log_acoes %}
        <li><a href="{% url 'relatorio_acoes' %}"><i class="fa fa-gavel fa-lg"></i> Auditoria </a></li>
{% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}
