{% extends 'layout-base.html' %}
{% block sidebar_menu %}
<!-- menu section -->
<div class="menu_section">
    <h3>Geral</h3>
    <ul class="nav side-menu">
        <li>
            <a href="{% url 'index' %}"><i class="fa fa-chevron-left"></i> Voltar </a>
        </li>
    </ul>
</div>
<!-- /menu section -->
<div class="menu_section">
    <h3>Configurações</h3>
    <ul class="nav side-menu">
        <li><a href="{% url 'configuracoes' %}"><i class="fa fa-cogs fa-lg"></i> Início </a></li>
        {% if perms.pessoa.change_usuario %}
        <li>
            <a><i class="fa fa-user fa-lg"></i> Usuário <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'usuario_adicionar' %}">Adicionar</a></li>
                <li><a href="{% url 'usuario_listar' %}">Lista</a></li>
            </ul>
        </li>
        {% endif %}
        
        {% if perms.pessoa.change_fornecedor %}
        <li>
            <a><i class="fa fa-industry fa-lg"></i> Fornecedor <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'fornecedor_adicionar' %}">Adicionar</a></li>
                <li><a href="{% url 'fornecedor_listar' %}">Lista</a></li>
            </ul>
        </li>
        {% endif %}

        {% if perms.auth.change_group %}
        <li>
            <a href="{% url 'grupo_listar' %}"><i class="fa fa-exclamation-triangle fa-lg"></i> Permissões </a>
        </li>
        {% endif %}
        
        {% if perms.laboratorio.change_exame %}
        <li>
            <a><i class="fa fa-clipboard fa-lg"></i> Exame <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'exame_adicionar' %}">Adicionar</a></li>
                <li><a href="{% url 'exame_listar' %}">Lista</a></li>
            </ul>
        </li>
        {% endif %}
        
        {% if perms.pontos_coleta.change_pontocoleta %}
        <li>
            <a><i class="fa fa-building fa-lg"></i> Ponto de Coleta <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{% url 'pontos_coleta:adicionar' %}">Adicionar</a></li>
                <li><a href="{% url 'pontos_coleta:listar' %}">Lista</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
</div>
<!--/menu section-->
{% endblock %}
