{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Besche Lab</title>

        <!-- JQuery -->
        <script src="{% static 'vendors/js/jquery.min.js' %}"></script>
        <!-- pace -->
        <script src="{% static 'vendors/js/pace/pace.min.js' %}"></script>
        <!-- Bootstrap -->
        <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
        <!-- bootstrap-progressbar -->
        <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/switchery/dist/switchery.css' %}" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="{% static 'build/css/custom.min.css' %}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
        <!-- Switchery -->
        <link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
        <!-- Tabela Responsiva -->
        <link href="{% static 'vendors/js/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'vendors/js/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'vendors/js/datatables/fixedHeader.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'vendors/js/datatables/responsive.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'vendors/js/datatables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/rowlink.css' %}" rel="stylesheet" type="text/css" />
        {{ form.media.css }}
        {% block extrahead %}{% endblock %}
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="{% url 'index' %}" class="site_title">
                                <i class="fa fa-flask"></i> <span>Besche Lab</span>
                            </a>
                        </div>

                        <div class="clearfix"></div>

                        <!--div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="{%static 'images/img.jpg' %}" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Bem Vindo(a),</span>
                                <h2>{{ request.user.get_short_name }}</h2>
                            </div>
                        </div-->
                        <br>
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            {% block sidebar_menu %}{% endblock %}
                        </div>
                        <!-- /sidebar menu -->
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li class=""><a href="javascript:;"
                                    class="user-profile dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false"> <img
                                        src="{%static 'images/img.jpg' %}" alt="">
                                        {{ request.user }}
                                        <span class=" fa fa-angle-down"></span>
                                </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        {% if perms.pessoa.change_usuario %}
                                        <li><a href="{% url 'configuracoes' %}">
                                            Configurações
                                        </a></li>
                                        {% endif %}

                                        <li><a href="#">
                                            Ajuda
                                        </a></li>
                                        
                                        <li><a href="{% url 'logout' %}">
                                            <i class="fa fa-sign-out pull-right"></i> Sair
                                        </a></li>
                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bell-o"></i>
                                        {% if exames_pendentes.count > 0 or pagamentos_atrasados.count > 0 %}
                                        <span class="badge bg-red">
                                            {{ exames_pendentes.count|add:pagamentos_atrasados.count }}
                                        </span>
                                        {% endif %}
                                    </a>
                                    <ul id="notifications" class="dropdown-menu list-unstyled msg_list">
                                        <li class="title">Coletas não realizadas</li>
                                        {% for exame in exames_pendentes %}
                                        <li>
                                            <a href="{% url 'exame_marcado_editar' exame.pk %}">
                                                {{ exame.paciente.nome }}<br>
                                                Data: {{ exame.data }}
                                            </a>
                                        </li>
                                        {% empty %}
                                        <li>Nenhuma coleta não realizada</a></li>
                                        {% endfor %}
                                        <li class="title">Pagamentos atrasados</li>
                                        {% for pagamento in pagamentos_atrasados %}
                                        <li>
                                            <a href="{% url 'lancamento_detalhar' pagamento.lancamento_id %}">
                                                {{ pagamento.valor }}<br>
                                                Data: {{ pagamento.data }}
                                            </a>
                                        </li>
                                        {% empty %}
                                        <li>Nenhum pagamento atrasado</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown">
                                    {% if pontos_coleta.count > 1 or perms.pontos_coleta.change_pontocoleta %}
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        {{ request.ponto_coleta }} <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for ponto in pontos_coleta %}
                                        <li><a href="{% url 'pontos_coleta:selecionar' ponto.pk %}"><span>{{ ponto }}</span></a></li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <a href="javascript:;">
                                        {{ request.ponto_coleta }}
                                    </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->

                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                    {% block conteudo %} 
                    {% endblock %}
                    </div>
                </div>
                <!-- /page content -->
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Desenvolvido por 
                        <a href="http://www.besche.com.br" target="_blank"><b>Besche Tecnologia</b></a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        <!-- Bootstrap -->
        <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
        <!-- NProgress -->
        <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
        <!-- bootstrap-progressbar -->
        <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
        <!-- iCheck -->
        <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
        <script src="{% static 'vendors/jquery.hotkeys/jquery.hotkeys.js' %}"></script>
        <script src="{% static 'vendors/google-code-prettify/src/prettify.js' %}"></script>
        <!-- Switchery -->
        <script src="{% static 'vendors/switchery/dist/switchery.min.js' %}"></script>
        <!-- Autosize -->
        <script src="{% static 'vendors/autosize/dist/autosize.min.js' %}"></script>

        <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
        <!-- Custom Theme Scripts -->
        <script src="{% static 'build/js/custom.min.js' %}"></script>
        <script src="{% static 'js/rowlink.js' %}"></script>

        <!-- Autosize -->
        <script>
          $(document).ready(function() {
            autosize($('.resizable_textarea'));
          });
        </script>
        <!-- /Autosize -->
{{ form.media.js }}
{% block extrascript %}{% endblock %}
    </body>
</html>
