{% extends 'layout.html' %}
{% block conteudo %}
<div class="page-title">
    <div class="title_left">
        <h3>Auditoria do sistema</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="x_panel">
    <div class="x_title">
        <h2>Log Ações
            <small>
                Relatório de ações realizadas dentro do sistema.
            </small>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Ação</th>
                    <th>Alteração</th>
                    <th>Data/Hora</th>
                    <th>IP</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in log %}
                <tr>
                    <td>{{ entry.actor }}</td>
                    <td>
                        {% if entry.action == 0 %}Adicionado
                        {% elif entry.action == 1 %}Modificado
                        {% elif entry.action == 2 %}Apagado{% endif %}
                    </td>
                    <td>{{ entry.object_repr }}</td>
                    <td>{{ entry.timestamp }}</td>
                    <td>{{ entry.remote_addr }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
