{% extends 'layout.html' %}
{% load bootstrap3 %}
{% block conteudo %}
<div class="page-title">
    <div class="title_left">
        <h3>Pessoa</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="x_panel">
    <div class="x_title">
        <h2>{% if object %}Editar
            <small>
                Veja detalhes e/ou altere informações de uma pessoa.
            </small>
            {% else %}Adicionar
            <small>
                Adicione uma nova pessoa.
            </small>
            {% endif %}
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form novalidate class="form-horizontal form-label-left" method="POST">{% csrf_token %}
            {% bootstrap_form_errors form type='non_fields' %}
            {% bootstrap_field form.nome layout='horizontal' field_class='col-xs-12 col-sm-10 col-md-10' label_class='col-xs-12 col-sm-2 col-md-2' %}
            <div class="form-group">
                {% bootstrap_field form.telefone field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
                {% bootstrap_field form.email field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
            </div>
            
            <div class="form-group">
                {% bootstrap_field form.cpf_cnpj field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
                {% bootstrap_field form.cns field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
            </div>
            
            <div class="form-group">
                {% bootstrap_field form.data_nascimento field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
                <label class="col-xs-12 col-sm-2 col-md-2 control-label" for="id_idade">Idade</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <input class="form-control" id="id_idade" maxlength="3" name="idade" placeholder="Idade" type="text">
                </div>
            </div>
            <div class="form-group">
                {% bootstrap_field form.sexo field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
            </div>

            <div class="divider-dashed"></div>

            <div class="form-group">
                {% bootstrap_field form.logradouro field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
                {% bootstrap_field form.numero field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
            </div>
            
            <div class="form-group">
                {% bootstrap_field form.complemento field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
                {% bootstrap_field form.bairro field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
            </div>
            
            <div class="form-group">
                {% bootstrap_field form.municipio field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
            </div>
            
            <div class="ln_solid"></div>
            
            <div class="form-group">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
                    {% if object and perms.pessoa.delete_pessoa %}
                    <div class="pull-right">
                        <button type="button" data-href="{% url 'pessoa_apagar' object.pk %}" id="delete-link" class="btn btn-danger btn-sm">Excluir</button>
                    </div>
                    {% endif %}
                    {% if object %}
                    <a href="{% url 'pessoa_listar' %}">
                    {% else %}
                    <a href="{% url 'index' %}"> 
                    {% endif %}
                        <div class="btn btn-sm btn-primary">Voltar</div>
                    </a>
                    <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
function data_nascimento_change(){
    ano_nascimento = $("#id_data_nascimento").val().split('/')[2]
    idade = new Date().getFullYear() - ano_nascimento
    $("#id_idade").val(idade)
}
$(document).ready(function() {
    $("#id_data_nascimento").change(data_nascimento_change)
    $("#id_idade").change(function() {
        idade = parseInt($(this).val())
        ano_nascimento = new Date().getFullYear() - idade
        $("#id_data_nascimento").val("01/01"+ano_nascimento)
    })
    data_nascimento_change()
})
</script>
{% if object %}
{% with dialog_message='Deseja realmente excluir este paciente?' %}
{% include 'delete_dialog.html' %}
{% endwith %}
{% endif %}
{% endblock %}
