{% extends 'layout.html' %}
{% load bootstrap3 %}
{% block conteudo %}
<div class="page-title">
    <div class="title_left">
        <h3>Agenda</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="x_panel">
    <div class="x_title">
        <h2>{% if object %}Alterar
            <small>
                Veja detalhes e/ou altere informações de uma marcação de Coleta de Material para exame.    
            </small>
            {% else %}Marcar
            <small>
                Adicione uma nova marcação de Coleta de Material para exame.
            </small>
            {% endif %}
        </h2>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <br>
        <form novalidate class="form-horizontal form-label-left" method="POST">{% csrf_token %}
            {{ wizard.management_form }}
            {% bootstrap_form_errors form type='non_fields' %}
            {% for field in form %}
            {% bootstrap_field field layout='horizontal' field_class='col-xs-12 col-sm-10 col-md-10' label_class='col-xs-12 col-sm-2 col-md-2' %}
            {% endfor %}
            <div class="ln_solid"></div>
            
            <div class="form-group">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
                    {% if object and perms.laboratorio.delete_examemarcado %}
                    <div class="pull-right">
                        <button type="button" data-href="{% url 'exame_marcado_apagar' object.pk %}" id="delete-link" class="btn btn-danger btn-sm">Excluir</button>
                    </div>
                    {% endif %}
                    <a href="{% url 'index' %}">
                        <div class="btn btn-primary btn-sm">Voltar</div>
                    </a>
                    <button type="submit" class="btn btn-success btn-sm">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
$("#id_data, #id_exame-data").daterangepicker({
    locale: daterangepicker_locale,
    singleDatePicker: true,
    showDropdowns: true,
    minDate: new Date()
})
</script>
{% if object %}
{% with dialog_message='Deseja realmente excluir esta marcação de exame?' %}
{% include 'delete_dialog.html' %}
{% endwith %}
{% else %}
<script type="text/javascript">
$("#id_paciente, #id_exame-paciente").on("change", function() {
    id = $(this).val()
    $.get("{% url 'movimento_pendentes' %}?paciente_id="+id, function(data) {
        if(data.pendencias > 0) {
            $("#alert-dialog").modal()
        }
    })
})
</script>
{% with dialog_message='Este paciente possui pendências de pagamento.' %}
{% include 'alert-dialog.html' %}
{% endwith %}
{% endif %}
{% endblock %}
