{% extends 'layout.html' %}
{% load table_tags %}
{% block conteudo %}
<div class="clearfix"></div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Agenda 
					<small>
						Lista com todas as Marcações de Exame. Clique numa linha para ver detalhes ou editar as informações.
					</small>
				</h2>

				<ul class="nav navbar-right panel_toolbox">
                	<li>
                		<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                	</li>
                </ul>

				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<br>
				{% render_table table %}
			</div>
		</div>
	</div>
</div>
{% endblock%}
