<!DOCTYPE html>
<html>
<head>
	<title>Comprovante de pagamento</title>
</head>
<body>
<h1>Comprovante de pagamento</h1>
<div>Pessoa: {{ movimento.lancamento.pessoa.nome }}</div>
<div>Data: {{ movimento.data_pagamento }}</div>
<div>Valor: {{ movimento.valor }}</div>
</body>
</html>