<html>
<head></head>
<body>
<table width="100%">
    <tr>
        <th>Data</th>
        <th>Parcela</th>
        <th>Valor</th>
    </tr>
{% for movimento in movimentos %}
    <tr>
        <td>{{ movimento.data }}</td>
        <td>{{ movimento.parcela }}</td>
        <td>{{ movimento.valor }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>
