{% extends 'layout.html' %}
{% load bootstrap3 table_tags %}
{% block conteudo %}
<div class="page-title">
    <div class="title_left">
        <h3>{{ tipo_lancamento }}</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="x_panel">
    <div class="x_title">
        <h2>Adicionar
            <small>
                Adicione uma nova {{ tipo_lancamento }}.
            </small>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="lancamentoForm" novalidate class="form-horizontal form-label-left" method="POST">{% csrf_token %}
            {{ wizard.management_form }}
            {% bootstrap_form_errors form type='non_fields' %}
            {% bootstrap_field form.pessoa layout='horizontal' field_class='col-xs-12 col-sm-10 col-md-10' label_class='col-xs-12 col-sm-2 col-md-2' %}
            {% bootstrap_field form.descricao layout='horizontal' field_class='col-xs-12 col-sm-10 col-md-10' label_class='col-xs-12 col-sm-2 col-md-2' %}

            <div class="form-group">
                {% bootstrap_field form.valor field_class='col-xs-12 col-sm-2 col-md-2' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
                
                <label class="col-xs-12 col-sm-2 col-md-2 control-label" for="parcelado">Parcelado</label>
                <div class="col-xs-12 col-sm-2 col-md-1">
                    <input type="checkbox" name="parcelado" class="js-switch">
                </div>
                
                {% bootstrap_field form.n_parcelas field_class='col-xs-12 col-sm-1 col-md-1' label_class='col-xs-12 col-sm-1 col-md-1' form_group_class='' %}

                {% bootstrap_field form.entrada field_class='col-xs-12 col-sm-2 col-md-2' label_class='col-xs-12 col-sm-1 col-md-1' form_group_class='' %}
            </div>

            <div class="ln_solid"></div>
            
            <div class="form-group">
                <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-2 col-md-offset-2">
                    <a href="{% url 'index' %}">
                        <div class="btn btn-sm btn-primary">Voltar</div>
                    </a>
                    <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
