{% extends 'layout.html' %}
{% block conteudo %}
<div class="page-title">
    <div class="title_left">
        <h3>Lançamento</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="x_panel">
    <div class="x_title">
        <h2>Detalhes
            <small>
                Informações detalhadas sobre o Lançamento.
            </small>
        </h2>

        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link" aria-expanded-"false"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <form class="form-horizontal form-label-left" method="POST">{% csrf_token %}
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 control-label" for="pessoa">Pessoa</label>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <input disabled type="text" class="form-control" value="{{ lancamento.pessoa }}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 control-label" for="descricao">Descrição</label>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <textarea disabled class="form-control resizable_textarea" rows="3">{{ lancamento.descricao }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 control-label" for="valor">Valor</label>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <input disabled class="form-control" value="{{ lancamento.valor }}">
                </div>
                <label class="col-xs-12 col-sm-2 col-md-2 control-label" for="parcelado">Parcelado</label>
                <div class="col-xs-12 col-sm-1 col-md-1">
                    <input type="checkbox" class="js-switch" disabled="disabled"{% if lancamento.n_parcelas > 1 %} checked="checked"{% endif %}/>
                </div>
                <label class="col-xs-12 col-sm-1 col-md-1 control-label" for="parcelas">Parcelas</label>
                <div class="col-xs-12 col-sm-1 col-md-1">
                    <input disabled class="form-control" value="{{ lancamento.n_parcelas }}">
                </div>
                <label class="col-xs-12 col-sm-1 col-md-1 control-label" for="parcelas">Entrada</label>
                <div class="col-xs-12 col-sm- col-md-2">
                    <input disabled class="form-control" value="{{ lancamento.entrada }}">
                </div>
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
                    <div class="pull-right">
                        {% if lancamento and perms.financeiro.delete_lancamento %}
                        <button type="button" data-href="{% url 'lancamento_apagar' lancamento.id %}" id="delete-link" 
                            class="btn btn-danger btn-sm">Excluir
                        </button>
                        {% endif %}
                    </div>
                    <a href="{% url 'lancamento_listar' lancamento.tipo %}">
                        <div class="btn btn-sm btn-primary">Voltar</div>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
        
<div class="x_panel">
    <div class="x_title">
        <h2>Movimentos
            <small>
                Realize pagamentos e veja detalhes sobre as parcelas do Lançamento.
            </small>
        </h2>
        <div class="clearfix"></div>
    </div>

    <div class="x_content" id="movimentos">
        <table class="table taable-striped">
            <thead>
                <tr>
                    <th>Vencimento</th>
                    <th>Parcela</th>
                    <th>Valor</th>
                    <th>Pago</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for movimento in lancamento.movimentos.all %}
                <tr>
                    <td>{{ movimento.data }}</td>
                    <td>{{ movimento.parcela }}</td>
                    <td>{{ movimento.valor }}</td>
                    <td>
                        {% if movimento.pago %}
                        {{ movimento.data_pagamento|date:'SHORT_DATE_FORMAT' }}
                        {% else %}Não{% endif %}
                    </td>
                    <td>
                        {% if movimento.pago %}
                        <a target="_blank" href="{% url 'movimento_comprovante' movimento.pk %}">Comprovante</a>
                        {% else %}
                        <a class="pagar" href="{% url 'movimento_pagar' movimento.pk %}">Pagar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block extrascript %}
{% if lancamento and perms.financeiro.delete_lancamento %}
{% with dialog_message='Deseja realmente excluir este lançamento?' %}
{% include 'delete_dialog.html' %}
{% endwith %}
{% endif %}
{% include 'confirm-dialog.html' %}
<script type="text/javascript">
$("#movimentos a.pagar").click(function(e) {
    href = $(this).attr("href")
    valor = $(this).parent().prev().prev().text()
    $("#confirm-dialog-message").text("Confirmar pagamento de "+valor+"?")
    $("#confirm-dialog-yes").click(function() {
        location.href = href
    })
    $("#confirm-dialog").modal()
    return false
})
</script>
{% endblock %}
