{% extends 'layout.html' %}
{% load bootstrap3 table_tags %}
{% block conteudo %}
<div class="page-title">
	<div class="title_left">
		<h3>{{ tipo_lancamento }}</h3>
	</div>
</div>

<div class="clearfix"></div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Lista</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				{% render_table table %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
