<html>
<head></head>
<body>
<table width="100%">
    <tr>
        <th>Pessoa</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Parcelado</th>
        <th>data</th>
    </tr>
{% for lancamento in lancamentos %}
    <tr>
        <td>{{ lancamento.pessoa.nome }}</td>
        <td>{{ lancamento.descricao|linebreaks }}</td>
        <td>{{ lancamento.valor }}</td>
        <td>{{ lancamento.parcelado|yesno:'Sim,Não' }}</td>
        <td>{{ lancamento.data }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>
