{% extends 'layout.html' %}
{% load bootstrap3 table_tags %}
{% block conteudo %}
<div class="page-title">
    <div class="title_left">
        <h3>Lançamento</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="x_panel">
    <div class="x_title">
        <h2>Período 
            <small>
                Escolha o período para o qual deseja gerar o relatório de Lançamento.
            </small>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form class="form-horizontal form-label-left" method="GET">
        	{% bootstrap_form_errors form %}
            <div class="form-group">
                {% bootstrap_field form.data_inicial field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
                {% bootstrap_field form.data_final field_class='col-xs-12 col-sm-4 col-md-4' label_class='col-xs-12 col-sm-2 col-md-2' form_group_class='' %}
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
                    <div class="pull-right">
                        <a href="{% url 'lancamento_relatorio_imprimir' %}?{{ request.GET.urlencode }}" target="_blank" class="btn btn-default btn-sm">
                            <i class="fa fa-print"></i> Imprimir
                        </a>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Gerar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>Relatório 
            <small>
                Relatório de Lançamento do período selecionado.
            </small>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        {% render_table table %}
    </div>
</div>
{% endblock %}