{% load static %}
{% spaceless %}
<table id="{{ table.opts.id }}" {{ table.opts.attrs }} cellpadding="0" cellspacing="0" width="100%">
    <thead {% if table.opts.thead_attrs %}{{ table.opts.thead_attrs }}{% endif %}>
        {% for row in table.header_rows %}
        <tr>
            {% for header in row %}
            <th {% if header.attrs %}{{ header.attrs }}{% endif %}>
            {{ header.text }}
            </th>
            {% endfor %}
        </tr>
        {% endfor %}
    </thead>
    {% if not table.opts.ajax %}
    <tbody {% if table.opts.tbody_attrs %}{{ table.opts.tbody_attrs }}{% endif %}>
        {% for row in table.rows %}
        <tr>
            {% for column, td in row.items %}
            <td {% if column.attrs %}{{ column.attrs }}{% endif %}>{% if column.safe %}{{ td }}{% else %}{{ td|safe }}{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
{% endspaceless %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var filterFunc = function (sData) {
        return sData.replace(/\n/g," ").replace( /<.*?>/g, "" );
    };
    var table = $('#{{ table.opts.id }}').dataTable({
        //"dom": "{{ table.addons.render_dom }}",
        {% if table.opts.ajax %}
        "processing": true,
        "serverSide": true,
        "ajaxSource": {% if table.opts.ajax_source %}"{{ table.opts.ajax_source }}"{% else %}"{% url 'feed_data' table.token %}"{% endif %},
        {% endif %}
        "paging": {% if table.opts.pagination %}true,{% else %}false,{% endif %}
        "pageLength": {{ table.addons.pagination.length }},
        {% if table.opts.scrollable %}
        "scrollX": "100%",
        "sScrollXInner": "{{ table.opts.scrollinner }}",
        "scrollCollapse": true,
        {% endif %}
        "order": [
            {% for index, order in table.opts.sort %}
            [ {{ index }}, "{{ order }}" ],
            {% endfor %}
         ],
        "columns": [
            {% for column in table.columns %}
            {% if column.space %}
            {
                {% if not column.searchable %}"searchable": false,{% endif %}
                {% if not column.sortable %}"orderable": false,{% endif %}
                {% if not column.visible %}"visible": false,{% endif %}
                {% if column.links %}
                "render": function(data, type, full) {
                    return type == 'filter' ? $(data).text() : data
                }
                {% endif %}
            },
            {% endif %}
            {% endfor %}
        ],
        "language": {
            "url": "{% static 'js/datatables.lang.json' %}"
        },
        "initComplete": function(oSettings, json) {}
    });
    {% if table.opts.scrollable %}
    new $.fn.dataTable.FixedColumns(table, {
        {% if table.opts.fixed_columns %}"iLeftColumns": {{ table.opts.fixed_columns }},{% endif %}
        {% if table.opts.fixed_columns_width %}"iLeftWidth": {{ table.opts.fixed_columns_width }}{% endif %}
    });
    {% endif %}
});
</script>
