{% extends 'layout-config.html' %}
{% load bootstrap3 %}
{% block conteudo %}
<div class="page-title">
    <div class="title_left">
        <h3> Grupo </h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="x_panel">
    <div class="x_title">
        <h2>Editar
            <small>
                Alterar permissões de um Grupo de usuários.    
            </small>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form novalidate class="form-horizontal form-label-left" method="POST">{% csrf_token %}
            {% bootstrap_form_errors form type='non_fields' %}
            {% for field in form %}
            {% bootstrap_field field layout='horizontal' field_class='col-xs-12 col-sm-10 col-md-10' label_class='col-xs-12 col-sm-2 col-md-2' %}
            {% endfor %}
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
                    <a href="{% url 'grupo_listar' %}">
                        <div class="btn btn-primary btn-sm"> Voltar </div>
                    </a>
                    <button type="submit" class="btn btn-success btn-sm"> Salvar </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
